<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("A PROPOSE DE NOUS", "About", "Home")</li>
        <li>@Html.ActionLink("LES PROPRIETAIRE", "Contact", "Home")</li>
        <li>@Html.ActionLink("LES BIEN EN ECHANGE", "Contact", "Home")</li>
        <li>@Html.ActionLink("CONTACTEZ NOUS", "Contact", "Home")</li>
    </ul>
</div>
